@charset "utf-8";
/* 와이드 */
@media ( min-width: 2560px ) {
    .main-visual { margin:0 auto; width:1980px; }
}

/* 아이패드 */
@media ( max-width: 1024px ) {
    /* 헤더 */
    #header { width:100%; background-color:#303f9f; }
    #header::after { content:''; display:block; position:relative; top:40px; z-index:10; width:100%; height:70px; background-color:#3f51b5; }
    
    .l-wrapper { margin:0 auto; width:90%; }

    .logo { position:absolute; left:50%; top:61px; transform:translateX(-50%); }

    .user-util { width:100%; }
    .user-util .account { float:right; }
    .user-util .is-bar { display:none; }
    .user-util .language { float:left; }

    #gnb { left:0px; top:63px; }
    #gnb .btn-menu { display:block; }
    #gnb ul li { display:none; }

    .system-util { right:10px; z-index:20; }
    .system-util li:nth-child(1),
    .system-util li:nth-child(3),
    .system-util li .is-bar { display:none; }
    .system-util li .keeping { display:block; position:absolute; right:-20px; top:-15px; text-align:center; line-height:1.9; }
    .system-util li .keeping .keep-num { display:block; width:24px; height:24px; background-color:#ff4081; border-radius:50%; }

    .social-link { display: none; }
    /* 헤더 */
}